body {
		background-color: WhiteSmoke;
}

h1 {
	color:#990033;
	font-family: "Open Sans Condensed", Georgia, Serif;
}

p {
	color: #990033;
	font-family: "Open Sans Condensed", Georgia, Serif;
}

ul {
	color: #990033;
	font-family: "Open Sans Condensed", Georgia, Serif;
}

