body {
		background-color: WhiteGray;
}

h1 {
	padding:1;
	color:#990033;
	font-family: "Open Sans Condensed", Georgia, Serif;
}

p {
	text-indent: 50px;
	color: #990033;
	font-family: "Open Sans Condensed", Georgia, Serif;
}

ul {
	padding:1;
	margin:1;
	color: #b2b2b2;
	font-family: "Open Sans Condensed", Georgia, Serif;
}

