body {
		background-color: WhiteGray;
}

h1 {
	color:#990033;
	font-family: "Open Sans Condensed", Georgia, Serif;
}

p {
	text-indent: 50px;
	background-color: #990033;
	color: #ffffff;
	font-family: "Open Sans Condensed", Georgia, Serif;
}

ul {
	color: #990033;
	font-family: "Open Sans Condensed", Georgia, Serif;
}

