body {
		background-color: WhiteGray;
}

h1 {
	color:#990033;
	font-family: "Open Sans Condensed", Georgia, Serif;
	margin:0;
	padding:0;
}

h6 {
	text-indent: 10px;
	color: #990033;
	font-family: "Open Sans Condensed", Georgia, Serif;
	margin:0;
	padding-bottom:200px;
}

p{
	color:#b2b2b2;
	font-family: "Open Sans Condensed", Georgia, Serif;
	margin:0;
	padding:0;
}

ul {
	color: #b2b2b2;
	font-family: "Open Sans Condensed", Georgia, Serif;
	margin:0;
	padding:0;
	text-ident:1em;
}

