body {
		background-color: WhiteSmoke;
}

h1 {
	color: DarkRed;
	font-family: "Open Sans Condensed", Georgia, Serif;
}

p {
	background-color:DarkRed;
	color: WhiteSmoke;
	font-family: "Open Sans Condensed", Georgia, Serif;
}

h4,ul {
	color: DarkRed;
	font-family: "Open Sans Condensed", Georgia, Serif;
}

