body {
		background-color: WhiteGray;
}

h1 {
	color:#990033;
	font-family: "Open Sans Condensed", Georgia, Serif;
}

p {
	text-indent: 50px;
	color: #990033;
	font-family: "Open Sans Condensed", Georgia, Serif;
}

ul {
	color: #b2b2b2;
	font-family: "Open Sans Condensed", Georgia, Serif;
}

