body {
	background: url('https://static.pexels.com/photos/66636/pexels-photo-66636.jpeg');
	background-size: cover;
	font-family: "Open Sans Condense", Georgia, Serif;
	color:#AA3939;
}

h1 {
	margin:0;
	padding-top: 10px;
	padding-bottom:0;
}

#slogan {
	font-style:italic;
	text-align: left;
	text-indent:50px;
	margin:0;
	padding-top:0;
	padding-bottom: 50px;
}

h2 {
	color:gray;
	text-align: center;
	padding-top: 10px;
}

.intro {
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	padding:10px;

}


hr{
	width:400px;
	color:#AA3939;
}
.boxed {
	width:500px;
	border:5px solid gray;
	background-color: solid gray;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 150px;
}

#contact{
	text-align: center;
	color: white;
}
